/* FIX MOBILE CSS */
@media (max-width: 768px) {
  .navigation-box {
    padding: 4px 8px;
  }

  .settings-box {
    padding-right: 1rem;
  }

  /* catálogo */

  /* .commerce-filters-box {
    display: flex;
    width: 100%;
  } */

  .column-content .export {
    top: 0 !important;
    display: flex;
    justify-content: flex-end;
  }

  .nimbus-commerce-results-grid {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  c-nimbus-commerce-budget-widget.component-wrapper-spacer > div + div {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
  }

  c-nimbus-commerce-budget-widget.component-wrapper-spacer div:first-child {
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
  }

  commerce_data_provider-cart-data-provider c-nimbus-commerce-budget-widget.component-wrapper-spacer > div + div {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ffcc20;
  }

}
