/* FIX MOBILE CSS */
@media (max-width: 768px) {
  .navigation-box {
    padding: 4px 8px;
  }

  .settings-box {
    padding-right: 1rem;
  }

  /* catálogo */

  /* .commerce-filters-box {
    display: flex;
    width: 100%;
  } */

  .column-content .export {
    top: 0 !important;
    display: flex;
    justify-content: flex-end;
  }

  .nimbus-commerce-results-grid {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  /* c-nimbus-commerce-budget-widget.component-wrapper-spacer > div + div:nth-child(2) {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
  }


  c-nimbus-commerce-budget-widget.component-wrapper-spacer div:first-child {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  } */
  /* .container-cart .component-wrapper-spacer > div + div:nth-child(2) {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin: 0 auto 1rem 0;
  } */

  /* .container-cart .component-wrapper-spacer div:first-child {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  } */

  commerce_data_provider-cart-data-provider
    c-nimbus-commerce-budget-widget.component-wrapper-spacer
    > div
    + div {
    width: 100%;
    overflow-x: auto;
    padding: 1rem 0;
    border-radius: 6px;
  }

  .wrap-main-cart c-nimbus-commerce-budget-widget-item div.slds-m-right_medium {
    margin-right: 0 !important;
  }

  .wrap-main-cart .slds-carousel__indicator {
    margin: 0 0.5rem;
  }

  .c-resume-cart h1.titleText {
    font-size: 1.2rem !important;
    width: 50%;
  }

  .slds-grid :has(h1.titleText) {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .slds-grid :has(h1.titleText) .slds-form-element {
    width: 100%;
    margin-top: 10px;
  }

  .slds-grid :has(h1.titleText) div a {
    width: 100%;
    display: block;
    text-align: right;
    justify-content: flex-end;
  }

  .slds-grid
    :has(h1.titleText)
    div.slds-col.slds-col_bump-right.slds-p-top_x-small {
    padding-top: 0;
  }

  c-nimbus-commerce-results-product-emea
    .content-body
    .top-flex_container
    .product-details
    .product-description {
    line-height: 1.1;
    height: auto !important;
  }

  c-nimbus-commerce-results-product-emea .content-body .flex-button_container {
    width: 100%;
  }

  .notification[c-nimbusEmeaOrderNotificationBanner_nimbusEmeaOrderNotificationBanner] {
    padding: 0.8rem 12px;
    height: auto !important;
    margin: 1rem;
  }
  .csv-upload-section .csv-file-button {
    order: -1;
    margin-bottom: 1rem;
  }
  button.csv-file-download-template-button.slds-button.slds-button_base.slds-m-horizontal_x-small.button-border {
    padding-top: 0;
  }

  .wrap-order-history-quick .columns-content {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .wrap-store-features-products h1.titleText + .slds-grid {
    width: 100%;
  }

  .wrap-store-features-products
    h1.titleText
    + .slds-grid
    .slds-form-element__control {
    clear: left;
    position: relative;
  }

  .wrap-store-features-products h1.titleText + .slds-grid [part="combobox"] {
    width: 100%;
  }

  /* cart */
  .content:has(.container-cart) {
    padding: 1rem;
  }

  community_layout-section.dxpStyle_310639f6-fa38-4fc3-8394-aceabfaa9dd7.container-cart.comm-section-container.lwc-6j9an5vbrcd-host {
    width: 100%;
  }

  .wrap-main-cart {
  }

  .container-cart .c-info-main {
    display: flex;
  }

  .cart-row {
    display: flex;
    align-items: center;
    margin: 0rem 0;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dashed #ddd;
    margin-top:1rem;
  }

  .c-info-main {
    flex: 0 0 100%; /* 30% da largura */
  }

  .c-info-main .product-image {
    max-width: 60px !important;
    margin-right: 1rem;
  }

  .c-info-main .c-content {
  }

  .car-row > div:nth-child(n + 3) {
    /* flex: 1 0 33.33332%;  */
    flex: 1 0 auto; /* Distribui igualmente entre os itens da segunda linha */
    min-height: 80px;
  }

  c-nimbus-commerce-cart-item .cart-row div.slds-size_1-of-12 button {
    background: #f9f9f9;
    width: auto;
    position: relative;
    top: -120px;
    right: 0;
  }

  c-nimbus-commerce-cart-item .cart-row .total-price {
    width: 100px;
  }

  c-nimbus-commerce-cart-items .column-item-header {
    display: none;
  }

  section.c-resume-cart {
    display: flex;
    flex-direction: column;
  }

  section.c-resume-cart > div {
    padding: 1rem 0;
  }
}

/* checkout */

@media screen and (max-width: 500px) {
  .nimbus-commerce-purchase-order .generate-po-section {
    min-width: 100% !important;
    gap: 1rem;
  }
}
